@font-face {
    font-display: swap;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/figtree-v5-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/figtree-v5-latin-800.woff2") format("woff2");
}